@charset 'UTF-8';
@import url('font/font.css');
/* default */
@supports (text-size-adjust: 100%) html, body {
	text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
::selection {
	color: white;
	background-color: #5F2BDE;
}
html, body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	line-height: 17px;
	font-size: 16px;
	font-family: 'Noto Sans', 'Microsoft JhengHei';
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: black;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	text-align: left;
	overflow-wrap: break-word;
	word-break: normal;
	letter-spacing: 0px;
	width: 100%;
	height: 100%;
}
div {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: auto;
	vertical-align: top;
	display: block;
}
h1, h2, h3, h4, h5, h6, p, pre, code, samp, kbd, a, b, strong, em, var, s, sub, sup, span {
	margin: 0px;
	border: 0px;
	padding: 0px;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	text-decoration-style: inherit;
	text-decoration-skip: inherit;
	text-decoration-skip-ink: inherit;
	text-align: inherit;
	word-break: inherit;
	overflow-wrap: inherit;
	background: inherit;
	vertical-align: baseline;
	display: block;
}
p b, p strong, p em, p var, p s, p sub, p sup, p span {
	display: inline;
}
h1 { line-height: 38px; font-size: 32px   ; font-weight: 500; }
h2 { line-height: 29px; font-size: 24px   ; font-weight: 500; }
h3 { line-height: 23px; font-size: 18.72px; font-weight: 500; }
h4 { line-height: 19px; font-size: 16px   ; font-weight: 500; }
h5 { line-height: 17px; font-size: 13.28px; font-weight: 500; }
h6 { line-height: 13px; font-size: 10.72px; font-weight: 500; }
p  { line-height: 18px; font-size: 16px; font-weight: normal; font-family: 'Noto Sans', 'Microsoft JhengHei'; }
pre  { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
code { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
samp { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
kbd  { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
a { text-decoration: underline; display: inline; }
b, strong { font-weight: bold; }
em, var { font-style: italic; }
s { text-decoration: line-through; }
sub { vertical-align: sub  ; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
span { cursor: text; }
table {
	border-collapse: collapse;
}
img {
	aspect-ratio: auto;
	height: auto;
}
video {
	height: auto;
}
iframe {
	border: 0px solid #000000;
	aspect-ratio: 16 / 9;
	height: auto;
}
h1, h2, h3, h4, h5, h6, p, pre {
	color: white;
}
body#blur h1, body#blur h2, body#blur h3, body#blur h4, body#blur h5, body#blur h6, body#blur p, body#blur pre {
	color: rgba(0,0,0,0.5);
}
a {
	font-size: 16px;
	line-height: 22px;
}
h4 {
	font-size: 16px;
	line-height: 21px;
}
p {
	font-size: 16px;
	line-height: 21px;
}
pre {
	font-size: 13.5px;
	line-height: 18px;
}
/* top */
top {
	z-index: 3;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	position: fixed;
	height: 51px;
	width: 84%;
	top: 8px;
	left: 8%;
	right: 8%;
	margin-left: -1px;
	margin-right: -1px;
}
body#blur top {
	border-radius: 5px;
	border: 0px;
	top: 9px;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}
top#small {
	left: 8px;
	right: 8px;
	margin-left: 0px;
	margin-right: 0px;
	width: calc(100% - 18px);
}
body#blur top#small {
	left: 9px;
	right: 9px;
}
top#medium {
	left: calc((100% - 1032px) / 2);
	right: calc((100% - 1032px) / 2);
	margin-left: 0px;
	margin-right: 0px;
	width: 1030px;
}
body#blur top#medium {
	left: calc((100% - 1032px) / 2 + 1px);
	right: calc((100% - 1032px) / 2 + 1px);
}
top#large {
	left: 8%;
	right: 8%;
	margin-left: -1px;
	margin-right: -1px;
	width: 84%;
}
body#blur top#large {
	margin-left: 0px;
	margin-right: 0px;
}
top:hover {
	height: auto;
	max-height: calc(70% - 18px);
	overflow: auto;
}
top > a {
	float: left;
	display: block;
	padding: 14px 16px;
	line-height: 23px;
	min-height: 23px;
	font-size: 16px;
	color: #666;
	text-decoration: none;
	overflow-wrap: normal;
	word-break: break-word;
	text-align: center;
	user-select: none;
	cursor: default;
	-webkit-user-drag: none;
}
top > a.has-node {
	display: none;
}
top > a.icon {
	background-size: 31px;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 49px;
}
top > a.icon.no-content {
	padding: 14px;
	width: 23px;
	height: 23px;
}
top > a:hover {
	background-color: rgba(221, 221, 221, 0.7);
}
top > a:hover:active {
	background-color: rgba(201, 201, 201, 0.7);
	color: white;
}
top > a.active {
	color: white;
	background-color: #4CAF50;
}
top > a.active:hover {
	background-color: #cfcfcf;
}
top > a.active:hover:active {
	background-color: #b8b8b8;
}
/* major */
major {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	text-align: center;
	padding-top: 69px;
	padding-bottom: 75px;
	min-width: 1048px;
}
major.tiny {
	min-width: 500px;
	width: calc(100% - 70px);
	vertical-align: top;
	display: block;
	padding-left: 35px;
	padding-right: 35px;
}
major > sub-major {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: left;
	width: 848px;
	display: inline-block;
}
major > sub-major:not(:first-of-type) {
	display: none !important;
}
major.tiny > sub-major {
	width: 100%;
}
/* post */
post {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}
body#blur post {
	border-radius: 8px;
}
post:first-of-type {
	padding-top: 0px !important;
}
post:last-of-type {
	padding-bottom: 0px !important;
}
post > img.icon {
	width: 64px;
	aspect-ratio: 1;
	z-index: 1;
	position: relative;
	top: 8px;
	left: -32px;
	margin: 0px 0px -64px 0px;
	display: block;
	user-select: none;
	-webkit-user-drag: none;
}
major.tiny > sub-major post > img.icon {
	width: 48px;
	margin: 0px 0px -48px 0px;
	top: 6px;
	left: -24px;
}
post > img.icon:not(:first-of-type) {
	display: none !important;
}
post > img.icon[src=''] {
	display: none;
}
post > sub-post {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px;
	position: relative;
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid rgba(247, 247, 247, .7);
}
post > img.icon[src]:not([src='']) + sub-post {
	min-height: 80px;
}
major.tiny > sub-major post > img.icon[src]:not([src='']) + sub-post {
	min-height: 60px;
}
post > sub-post:not(:first-of-type) {
	display: none !important;
}
body#blur post > sub-post {
	border-radius: 8px;
	border: 0px;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.3);
}
body#blur major.tiny > sub-major post > sub-post {
	border-radius: 6px;
}
body#blur post.non-blur > sub-post {
	background: rgba(239, 239, 239, 0.9);
}
post > sub-post > post-leader {
	max-width: calc(100% - 20px);
	width: calc(100% - 20px);
	vertical-align: top;
	display: flex;
	padding: 0px 0px 0px 20px;
}
major.tiny > sub-major post > sub-post > post-leader {
	max-width: calc(100% - 15px);
	width: calc(100% - 15px);
	padding: 0px 0px 0px 15px;
}
post > sub-post > post-leader:not(:first-of-type) {
	display: none !important;
}
body#blur post > sub-post > post-leader {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
body#blur major.tiny > sub-major post > sub-post > post-leader {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
post > sub-post > post-leader > post-leader-section {
	width: auto;
	vertical-align: top;
	display: inline-flex;
	flex-grow: 1;
}
post > sub-post > post-leader > post-leader-section:not(:first-of-type) {
	display: none !important;
}
post > sub-post > post-leader > post-leader-section > post-leader-order {
	max-width: 80px;
	width: auto;
	vertical-align: top;
	display: inline-block;
	padding: 20px 20px 27px 20px;
	margin: 0px;
	line-height: 21px;
	min-height: 21px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	overflow-wrap: break-word;
	word-break: normal;
}
major.tiny > sub-major post > sub-post > post-leader > post-leader-section > post-leader-order {
	padding: 15px 15px 24px 15px;
}
post > sub-post > post-leader > post-leader-section > post-leader-order:not(:first-of-type) {
	display: none !important;
}
body#blur post > sub-post > post-leader > post-leader-section > post-leader-order {
	color: rgba(0,0,0,0.5);
}
post > sub-post > post-leader > post-leader-section > post-leader-title {
	width: auto;
	vertical-align: top;
	display: inline-flex;
	padding: 20px 20px 27px 20px;
	margin: 0px;
	line-height: 21px;
	min-height: 21px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	overflow-wrap: anywhere;
	word-break: normal;
	flex-grow: 1;
}
major.tiny > sub-major post > sub-post > post-leader > post-leader-section > post-leader-title {
	padding: 15px 15px 24px 15px;
}
post > sub-post > post-leader > post-leader-section > post-leader-title:not(:first-of-type) {
	display: none !important;
}
body#blur post > sub-post > post-leader > post-leader-section > post-leader-title {
	color: rgba(0,0,0,0.5);
}
post > sub-post > post-leader > post-leader-advance {
	max-width: calc(40% - 30px);
	width: auto;
	vertical-align: top;
	display: inline-block;
	padding: 13px 13px 13px 17px;
	text-align: right;
	margin: 0px;
	min-height: 42px;
}
major.tiny > sub-major post > sub-post > post-leader > post-leader-advance {
	max-width: calc(40% - 21px);
	padding: 9px 9px 9px 12px;
}
post > sub-post > post-leader > post-leader-advance.no-content {
	padding: 13px 20px 13px 0px;
}
major.tiny > sub-major post > sub-post > post-leader > post-leader-advance.no-content {
	padding: 9px 15px 9px 0px;
}
body#blur post > sub-post > post-leader > post-leader-advance {
	border-top-right-radius: 8px;
}
body#blur major.tiny > sub-major post > sub-post > post-leader > post-leader-advance {
	border-top-right-radius: 6px;
}
post > sub-post > post-leader > post-leader-advance > button.advance, post > sub-post > post-leader > post-leader-advance > dropdown {
	max-width: calc(100% - 6px) !important;
}
post > sub-post > post-leader > post-leader-advance > :not(button.advance, dropdown) {
	display: none !important;
}
post > sub-post > post-leader > post-leader-advance > dropdown > button.advance:first-of-type:last-of-type {
	max-width: 100% !important;
}
post > sub-post > post-leader > post-leader-advance > dropdown > :not(button.advance:first-of-type:last-of-type, dropdown-content:first-of-type, inner-padding:first-of-type, outer-margin:first-of-type) {
	display: none !important;
}
post > sub-post > post-leader > post-leader-advance:not(:first-of-type) {
	display: none !important;
}
post > sub-post > post-content {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px 40px 20px 40px;
}
major.tiny > sub-major post > sub-post > post-content {
	padding: 0px 30px 15px 30px;
}
post > sub-post > post-content:not(:first-of-type) {
	display: none !important;
}
post > sub-post > post-content.no-content {
	padding: 0px !important;
	height: 0px !important;
}
post > sub-post > post-content:not(.has-only-post) > post:first-of-type {
	padding-top: 20px !important;
}
major.tiny > sub-major post > sub-post > post-content:not(.has-only-post) > post:first-of-type {
	padding-top: 16px !important;
}
body#blur post > sub-post > post-content {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
body#blur major.tiny > sub-major post > sub-post > post-content {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
post > sub-post > post-content > advance {
	display: none;
}
post > sub-post > scroll-into {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px;
	position: relative;
	left: -8px;
	top: -70px;
}
post > sub-post > scroll-into:not(:first-of-type) {
	display: none !important;
}
body#blur post > sub-post > scroll-into {
	top: -69px;
}
/* dropdown */
dropdown {
	width: auto;
	vertical-align: top;
	position: relative;
	display: inline-block;
	z-index: 0;
}
dropdown:hover {
	z-index: 2;
}
dropdown.has-disabled {
	pointer-events: none;
}
dropdown > :not(dropdown-content, inner-padding, outer-margin) {
	position: relative;
	z-index: 1;
}
dropdown > inner-padding {
	display: none;
}
dropdown:hover > inner-padding {
	display: block;
	padding: 3px 0px;
}
dropdown:hover > inner-padding:not(:first-of-type) {
	display: none !important;
}
dropdown > outer-margin {
	display: none;
}
dropdown:hover > outer-margin {
	display: block;
	margin: -6px 0px;
}
dropdown:hover > outer-margin:not(:first-of-type) {
	display: none !important;
}
dropdown > dropdown-content {
	vertical-align: top;
	display: none;
	position: fixed;
	overflow: auto;
	background-color: rgb(40, 40, 40);
	min-width: 175px;
	min-height: 36px;
	width: auto;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
	margin: 0px;
	text-align: left;
	border: 0px;
	padding: 8px 0px;
	z-index: 0;
}
dropdown.has-single-button {
	margin: 3px;
}
body#blur dropdown.has-single-button {
	border-radius: 8px;
}
body#blur dropdown:hover.has-single-button {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
dropdown.has-single-button > button:first-of-type:last-of-type {
	margin: 0px;
}
dropdown > dropdown-content.no-content:after {
	content: '(Nothing)';
	padding: 16px 55px;
	top: 0px;
	left: 0px;
	position: absolute;
	font-size: 14px;
	line-height: 20px;
	color: rgb(0, 0, 0, 0.5);
}
body#blur dropdown > dropdown-content {
	border-radius: 5px;
	background-color: white;
}
dropdown > dropdown-content > a {
	font-size: 14px;
	line-height: 20px;
	color: white;
	padding: 8px 55px;
	text-decoration: none;
	word-break: break-word;
	overflow-wrap: normal;
	display: block;
	width: 150px;
	min-height: 20px;
	background-size: 24px;
	background-position: 16px center;
	background-repeat: no-repeat;
	user-select: none;
	cursor: default;
	-webkit-user-drag: none;
}
body#blur dropdown > dropdown-content > a {
	color: rgb(10, 10, 10);
}
dropdown > dropdown-content > a.has-node {
	display: none;
}
dropdown > dropdown-content > a:hover {
	background-color: rgb(57, 57, 57);
}
body#blur dropdown > dropdown-content > a:hover {
	background-color: rgb(238, 238, 238);
}
dropdown > dropdown-content > a:hover:active {
	background-color: rgb(80, 80, 80);
}
body#blur dropdown > dropdown-content > a:hover:active {
	background-color: rgb(211, 211, 211);
}
dropdown:not(.has-disabled):hover > dropdown-content:not(.hidden):first-of-type {
	display: block;
}
/* button */
button {
	padding: 16px 32px;
	font-size: 16px;
	margin: 3px;
	line-height: 21px;
	font-family: 'Noto Sans', 'Microsoft JhengHei';
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	color: white;
	background-color: #4CAF50;
	user-select: none;
	cursor: default;
	-webkit-user-drag: none;
}
body#blur button {
	border-radius: 8px;
}
button:hover {
	color: black;
	background-color: rgba(231, 231, 231, 0.9);
}
body#blur button:hover {
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}
button:hover:active {
	background-color: rgba(188, 188, 188, 0.9);
}
button.disabled {
	cursor: auto;
	color: rgba(255, 255, 255, 0.7098039215686275);
	background-color: rgba(76, 175, 80, 0.7098039215686275);
	pointer-events: none;
	user-select: none;
}
button.advance {
	padding: 10px 20px;
	font-size: 12px;
	line-height: 16px;
}
body#blur button.advance {
	border-radius: 5px;
}
button.advance.icon {
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 31px;
	padding-right: 15px;
	background-size: 16px;
	min-height: 36px;
}
button.advance.icon.no-content {
	padding: 13px;
	width: 36px;
	height: 36px;
}
/* icons */
.air-play {
	background-image: url(icons8-air-play-64.png);
}
.browse-page {
	background-image: url(icons8-browse-page-64.png);
}
.download-from-cloud {
	background-image: url(icons8-download-from-cloud-64.png);
}
.external-link {
	background-image: url(icons8-external-link-64.png);
}
.music-record {
	background-image: url(icons8-music-record-64.png);
}
.play-property {
	background-image: url(icons8-play-property-64.png);
}
.share {
	background-image: url(icons8-share-64.png);
}
.tv-show {
	background-image: url(icons8-tv-show-64.png);
}
/* background-image with 'basis-layer, backdrop-container > blurred-filter' */
body > basis-layer {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}
body > basis-layer:not(:first-of-type) {
	display: none !important;
}
major > sub-major > post > sub-post > backdrop-container {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: inset(0px round 8px);
	background-color: black;
	z-index: -1;
}
major > sub-major > post > sub-post > backdrop-container:not(:first-of-type) {
	display: none !important;
}
major > sub-major > post > sub-post > backdrop-container.suspended {
	display: none !important;
}
major > sub-major > post > sub-post > backdrop-container > blurred-filter {
	display: block;
	position: fixed;
	width: calc(100% + 100px);
	height: calc(100% + 100px);
	top: -50px;
	left: -50px;
	z-index: 0;
	filter: blur(20px);
}
major > sub-major > post > sub-post > backdrop-container > blurred-filter:not(:first-of-type) {
	display: none !important;
}
body > basis-layer, major > sub-major > post > sub-post > backdrop-container > blurred-filter {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('lake.jpg');
}
/* scroll */
@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar {
		width: 14px;
		height: 14px;
	}
	::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
		background: transparent;
	}
	body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {
		background: #f1f1f1;
	}
	body#blur top::-webkit-scrollbar-track:vertical, body#blur dropdown > dropdown-content::-webkit-scrollbar-track:vertical {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	::-webkit-scrollbar-thumb {
		background: #888;
		border: 4px solid transparent;
		background-clip: padding-box;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #AAA;
		border: 4px solid transparent;
		background-clip: padding-box;
	}
	::-webkit-scrollbar-thumb:active {
		background: #555;
		border: 4px solid transparent;
		background-clip: padding-box;
	}
	body#blur::-webkit-scrollbar-thumb, body#blur ::-webkit-scrollbar-thumb {
		border-radius: 8px;
	}
}